.Navbar
{
    display: flex;
    padding-top: 1%;
    justify-content: space-between;
}
.brand
{
    padding-left: 10%;
    color: green;
}
.h2conduit{
    margin-block-start: 0%;
}
.rightalignnavbar
{
    display: flex;
    padding-right: 13%;
    padding-top: 1%;
    width: auto;
}
.Home
{
    padding: 0% 3%;
    color: rgba(0,0,0,0.4);
    width: auto;
}
.Home:active
{
    padding: 0% 3%;
    color: rgba(0,0,0,1);
    width: auto;
}
.createarticle
{
    padding: 0% 3%;
    color: rgba(0,0,0,0.4);
    width: auto;
}
.navlink:active
{
    padding: 0% 3%;
    color: rgba(0,0,0,1);
    width: auto;
}
.settings
{
    padding: 0% 3%;
    color: rgba(0,0,0,0.4);
    width: auto;
}
.navlink:active
:active
{
    padding: 0% 3%;
    color: rgba(0,0,0,1);
    width: auto;
}
.navlink
{
    text-decoration: none;
    color: rgba(0,0,0,0.4);
}
.navlink:visited
{
    color: rgba(0,0,0,0.4);
}
.navlink:target
{
    text-decoration: none;
    color: rgba(0,0,0,1);
}
.card
{
    display: grid;
    place-items: center;
}
.linktosignup
{ 
    display: flex;
    color:green;
}
.signincard{
    margin-block-end: 0.23em;
}
.form
{
    padding-top: 4%;
}
.articletitleinput
{
    border-style: hidden hidden solid hidden;
    padding: 0% 2% 0% 14%; 
    border-width: 1%;
}
.passworddiv
{
    padding-top: 14%;
}
.passwordinput
{
    border-style: hidden hidden solid hidden;
    padding: 0% 2% 0% 14%; 
    border-width: 1%;
}
.signinbutton
{
    display: flex;
    justify-content: end;
}
.sigininput
{
   color: white;
   background-color: green;
   margin-top: 13%;
   border-radius: 10%;
   padding: 7% 8%;
   border: hidden;
   position: relative;
   left: 17%;
}